body {
    background: rgb(167, 197, 240);
    background: linear-gradient(90deg, rgba(167, 197, 240, 1) 0%, rgba(20, 20, 233, 1) 41%, rgba(0, 212, 255, 1) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 20vh;
    border: 5px solid rgb(99, 195, 224);
    border-radius: 20px;
    background-color: beige;
    min-height: 50vh;
}

h1 {
    font-size: 7vw;
    color: rgb(27, 233, 72);
}

.link{
    text-decoration: none;
    margin: 20px;
    margin-bottom: 4rem;
    border: 5px solid rgb(247, 247, 247);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 25px;
    background-color: rgb(51, 51, 221);
    cursor: pointer;
    color: aqua;
    font-size: 20px;
}

.btn{
    margin-bottom: 70px;
    margin-top: 40px;
}

.link:hover {
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(32, 245, 35);
    color: blue;
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}

h2 {
    font-size: 3vw;
    color: rgb(27, 233, 72);   
}
.formContent{
    margin-top: 10px;
}

.inputBox{
    margin-bottom: 20px;
}

.inputBox label{
    font-size: 16px;
    color:rgb(7, 52, 142);
    margin: 0 3rem;
}

.inputBox input{
    font-size: 15px;
    border: 2px solid rgb(93, 235, 96);
    padding: 15px;
    border-radius: 20px;
}

.formContent button {
    margin-left: 75%;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 14px;
    border-radius: 20px;
    color: aqua;
    background-color: rgb(128, 128, 237);
    border: 2px solid rgb(85, 196, 16);
    cursor: pointer;
}

.formContent button:hover{
    color: rgb(212, 255, 0);
    background-color: rgb(34, 34, 220);
    border: 2px solid rgb(4, 58, 235);
}

.table-scroll{
    max-height: 44vh;
    overflow: scroll;
    scroll-behavior: smooth;
}