body {
    background: rgb(167, 197, 240);
    background: linear-gradient(90deg, rgba(167, 197, 240, 1) 0%, rgba(20, 20, 233, 1) 41%, rgba(0, 212, 255, 1) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 20vh;
    border: 5px solid rgb(171, 171, 171);
    border-radius: 20px;
    background-color: beige;
}

h1 {
    font-size: 7vw;
    color: rgb(27, 233, 72);
}

.btn {}

.btn button {
    margin: 0 5rem;
    margin-bottom: 10rem;
}